 .share-box__wrapper{
    font-size: 15px;
 }
.feed-shared-update-v2{
	margin: 0;
}
.people-may-know .card{
	width: 18rem;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    transition: box-shadow 83ms;
    max-width: 166px;
    margin: 12px 0 0 14px;
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
}
.people-may-know .card:hover{
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}
.people-may-know .card .card-img-top{
	background-color: #fff;
    width: 104px;
    height: 104px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 0 solid transparent;
    border-radius: 49.9%;
    margin-top: 10px;
}
.people-may-know .mn-discovery-person-card__coverphoto {
    background-color: #caedff;
    height: 62px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}
.people-may-know .card .card-title{
	color: #000;
	font-weight: 600;
}
.people-may-know .member-insights {
    margin: 12px 0 8px;
    align-items: center;
    display: flex;
    height: 32px;
    margin-left: 20px;
}
.align-items-center {
    align-items: center;
}
.text-align-left {
    text-align: left;
}
.EntityPhoto-circle-1-stackedFacepile {
    box-sizing: border-box;
    background-clip: content-box;
    border: 1px solid #fff;
    border-radius: 49.9%;
    width: 28px;
    height: 28px;
}
.EntityPhoto-circle-1-stackedFacepile:nth-of-type(1n+2) {
    margin-left: -12px;
}
.member-insights__reason {
    display: block;
    line-height: 1.6rem!important;
    max-height: 3.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: left;
    padding-left: 4px;
}
.people-may-know .card .card-body .btn-primary{
	color: #0073b1;
    box-shadow: inset 0 0 0 1px #0073b1;
    background: transparent;
    margin-bottom: 12px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.people-may-know .col-md-3 {
    width: 30%;
    margin-right: 22px;
}

.mn-invitations-preview__header {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.mn-invitations-preview__manage-all{
	color: rgba(0,0,0,.6);
}
.invitation-card {
    display: flex;
    align-items: inherit;
    flex-direction: column;
    background: #fff;
    visibility: visible;
    position: relative;
    opacity: 1;
    transition: visibility .4s ease-in,opacity .4s ease-in;
    border-bottom: 1px solid #e6e9ec;
}
.invitation-card:last-child, .invitation-card:last-child .invitation-card__details{
	border-bottom: none;
}
.invitation-card--new-invite {
    background-color: #e6f7ff;
    padding-left: 10px;
    padding-right: 10px;
}
.invitation-card__info-wrapper {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
}
.invitation-card--new-invite .invitation-card__picture {
    background-color: transparent;
}
.mn-invitations-preview .EntityPhoto-circle-5{
    width: 72px;
    height: 72px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 1px solid transparent;
    border-radius: 49.9%;
}
.invitation-card__details{
	padding-top: 9px;
	padding-left: 5px;
}
.invitation-card__subtitle {
    line-height: 2rem!important;
    max-height: 4rem;
    flex: 1 100%;
    display: block;
    word-break: break-word;
    overflow: hidden;
}
.member-insights {
    display: flex;
}
.invitation-card__action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.invitation-card__action-btn:first-child {
    flex-grow: 1;
}
.button-tertiary-medium-muted {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    height: 32px;
    outline-width: 2px;
    padding: 0 8px;
    position: relative;
}
.button-tertiary-medium, .button-tertiary-medium-muted, .button-tertiary-medium-round {
    font-weight: 600;
    line-height: 32px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 0;
}
.invitation-card__action-btn {
    flex-shrink: 0;
    flex-grow: 0;
}

.button-secondary-medium {
    background-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.6rem;
    height: 32px;
    line-height: 32px;
    outline-width: 2px;
    padding: 0 16px;
    transition-duration: 167ms;
    transition-property: background-color,box-shadow,color;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    vertical-align: middle;
    color: #0073b1;
    box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px transparent, inset 0 0 0 1px transparent;
}
.mn-invitations-preview__header h3{
	margin-top: 0;
    font-size: 18px;
}
.mn-invitation-list{
	margin-bottom: 0;
}
.invitation-card__details .member-insights__btn{
	padding-bottom: 10px;
}
.people-may-know h4{
	padding-left: 13px;
	margin-bottom: 0;
}